* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  margin: 0;
  font-family: $fontChivo;
  background: #121725;
  padding: 130px 0 165px 130px;

  @media (max-width: $tabletBreakpoint) {
    padding: 0;
    align-items: flex-start;
  }

  @media (max-width: $mobileBreakpoint) {
    align-items: stretch;
  }

  .page-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @media (max-width: $tabletBreakpoint) {
      position: relative;
      z-index: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 50px 0 0 39px;
    }

    @media (max-width: $mobileBreakpoint) {
      align-items: center;
      padding: 62px 24px 0;
    }

    .main-logo {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-50%);
      height: 56px;
      z-index: 1;

      @media (max-width: $tabletBreakpoint) {
        position: relative;
        transform: none;
        margin-bottom: 152px;
      }

      @media (max-width: $mobileBreakpoint) {
        margin-bottom: 57px;
      }
    }

    .bg-host {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 327px;
      background: url('../assets/desktop/image-host.jpg') no-repeat top right / cover;
      z-index: 0;

      @media (max-width: $tabletBreakpoint) {
        left: 277px;
        background-image: url('../assets/tablet/image-host.jpg')
      }

      @media (max-width: $mobileBreakpoint) {
        left: 0;
        background-image: url('../assets/mobile/image-host.jpg');

        &:after {
          content: '';
          position: absolute;
          inset: 0;
          background-color: rgba(#121725, 0.8);
        }
      }
    }

    .bg-pattern {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 104px;
      transform: translateY(50%);
      z-index: 1;

      @media (max-width: $tabletBreakpoint) {
        bottom: initial;
        right: initial;
        top: -104px;
        left: 40px;
        transform: translateY(100vh);
      }

      @media (max-width: $mobileBreakpoint) {
        display: none;
      }
    }

    .main-container {
      position: relative;
      width: 100%;
      max-width: 723px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 88px 56px 0 0;
      margin-top: 56px;
      background: #121725;
      z-index: 2;

      @media (max-width: 1286px) {
        margin-top: 286px;
      }

      @media (max-width: $tabletBreakpoint) {
        max-width: 635px;
        padding: 93px 0 0;
        margin-top: 0;
      }

      @media (max-width: $mobileBreakpoint) {
        align-items: center;
        background-color: transparent;
        padding: 0;
      }

      .main-heading {
        max-width: 665px;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 62px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 24px;

        @media (max-width: $tabletBreakpoint) {
          max-width: 635px;
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 31px;
        }

        @media (max-width: $mobileBreakpoint) {
          max-width: 500px;
          font-size: 26px;
          line-height: 38px;
          margin-bottom: 16px;
          text-align: center;
          order: 1;
        }

        span {
          color: #54E6AF;
        }
      }

      .main-text {
        max-width: 445px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #C2CBE5;
        margin: 0 0 40px;

        @media (max-width: $mobileBreakpoint) {
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          margin-bottom: 33px;
          order: 2;
        }
      }

      .main-form {
        position: relative;
        width: 100%;
        max-width: 427px;
        display: flex;
        padding-bottom: 22px;
        margin-bottom: 42px;

        @media (max-width: $mobileBreakpoint) {
          order: 4;
        }

        .input-container {
          width: 100%;
          display: flex;
          align-items: center;
          background: #2C344B;
          border-radius: 28px;
          padding: 5px;

          @media (max-width: $mobileBreakpoint) {
            flex-direction: column;
            align-items: flex-start;
            background-color: transparent;
          }

          .form-input {
            flex-grow: 1;
            background-color: transparent;
            border: 0;
            outline: none;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #FFFFFF;
            appearance: none;
            padding: 0 27px;

            @media (max-width: $mobileBreakpoint) {
              width: 100%;
              background: #2C344B;
              border-radius: 28px;
              padding: 9px 32px;
              margin-bottom: 16px;
            }

            &::placeholder {
              color: #FFFFFF;
              opacity: 0.5;
            }
          }

          .form-button {
            flex-shrink: 0;
            background-color: #54E6AF;
            box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
            border-radius: 28px;
            padding: 9px 27px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #121725;
            border: none;
            appearance: none;
            cursor: pointer;
            transition: background-color ease-out .2s;

            @media (max-width: $mobileBreakpoint) {
              width: 100%;
            }

            &:hover {
              background-color: #B3FFE2;
            }
          }
        }

        .form-error {
          position: absolute;
          bottom: 0;
          left: 0;
          display: none;
          padding-left: 32px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #FB3E3E;
          margin: 0;

          &.is-active {
            display: block;
          }
        }
      }

      .logos-list {
        width: 100%;
        display: flex;
        align-items: center;

        @media (max-width: $mobileBreakpoint) {
          order: 3;
          justify-content: space-between;
          margin-bottom: 50px;
          max-width: 320px;
        }

        .logo-item {
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }

          @media (max-width: $mobileBreakpoint) {
            width: auto;
            height: auto;
            max-width: 77px;
            max-height: 17px;
            margin-right: 0;
          }
        }
      }
    }
  }
}
