// --------------------------------------------------
// Variables
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

// Fonts
$fontChivo: 'Chivo', sans-serif;

// Breakpoints
$tabletBreakpoint: 1023px;
$mobileBreakpoint: 767px;
